numpy
pandas
matplotlib
plotly
scipy
sklearn
statsmodels
ta
tensorflow
torch
transformers
nltk
yfinance
tti
chronos
tsfm_public
praw
langdetect
python-dotenv
pmdarima
statsmodels
cvxpy
requests
spacy>=3.5.0
nltk>=3.8.0  
openai
